# Database
MONGODB_URI=mongodb+srv://yathish120420_db_user:794K4ZdiOfe04tCx@cluster0.gm0yd6j.mongodb.net/yathish_portfolio?retryWrites=true&w=majority&appName=yathish-portfolio

# Authentication
AUTH_SECRET=YathishShettIgarUXEnGineErProdUcTdEsiGnerFroNtEndDeVeLoper
